@font-face {
    font-family:'IngridDarling-Regular';
    src:url("/police/IngridDarling-Regular.ttf") format('truetype');
}
@font-face {
    font-family:'BebasNeue-Regular';
    src:url("/police/BebasNeue-Regular.ttf") format('truetype');
}
@font-face {
    font-family:'Alfaslab';
    src:url("/police/AlfaSlabOne-Regular.ttf") format('truetype');
}