*{
    padding: 0%;
    margin: 0%;
}
header{
    width:100%;
    height:auto;
    background-color: cornflowerblue;
}
#accueil{
    width: 97.15%;
    height: auto;
    background-color: brown;
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    30% { left: -100%; }
    40% { left: -100%; }
    50% { left: -200%; }
    60% { left: -200%; }
    70% { left: -300%; }
    80% { left: -300%; }
    90% { left: -400%; }
    100% { left: -400%; }
    }
    
    #accueil 
    { margin: 0;
        padding:30px 1.15% 30px 1.7%; 
    } 
    #slider 
    { overflow: hidden;
    width: 98%; 
    }
    #slider .accueil .slider 
        { width: 20%; 
            height: 640px;
        float: left; 
    }
    #slider .accueil { 
      position: relative;
      width: 500%;
      margin: 0%;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 40s slidy infinite; 
    }
    .offres{
        width: 100%;
        }
        .titre-promo{
            margin: 30px 15%;
            text-align: center;
            width: 70%;
            height: 50px;
            border: 2px solid black;
            border-radius: 20%;
        }
        #promotions{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .promo{
            box-sizing: border-box;
            transition: box-shadow 1s;
            padding: 60px;
        }
       .promo10.promo20.promo30{
           text-align: center;
           padding-left: 100px;

       }
        img[alt~="promo1"],img[alt~="promo2"],img[alt~="promo3"]
            {
            font-family: 'poppins-regular';
            font-size: 16px;
            color:#5E6282 ;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            max-width: 280px;
            height: 360px;
            border-radius: 20%;
        
        }
        .sejours{
            width: 100%;
            }
            .titre-promo2{
                margin: 30px 15%;
                text-align: center;
                width: 70%;
                height: 50px;
                border: 2px solid black;
                border-radius: 20%;
            }
            #sejours{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .sejour{
                box-sizing: border-box;
                transition: box-shadow 1s;
                padding: 60px;
            }
           .sejour10.sejour20.sejour30{
               text-align: center;
               padding-left: 100px;
    
           }
            img[alt~="sejour1"],img[alt~="sejour2"],img[alt~="sejour3"]
                {
                font-family: 'poppins-regular';
                font-size: 16px;
                color:#5E6282 ;
                align-items: center;
                justify-content: center;
                padding-top: 20px;
                max-width: 280px;
                height: 360px;
                border-radius: 20%;
            
            }